/* variables */
:root {
  /* colors */
  --grey-50: #fafafa;
  --grey-100: #f5f5f5;
  --grey-200: #eeeeee;
  --grey-300: #e0e0e0;
  --grey-400: #bdbdbd;
  --grey-500: #9e9e9e;
  --grey-600: #757575;
  --grey-700: #616161;
  --grey-800: #424242;
  --grey-900: #212121;

  --blue-grey-50: #eceff1;
  --blue-grey-100: #cfd8dc;
  --blue-grey-200: #b0bec5;
  --blue-grey-300: #90a4ae;
  --blue-grey-400: #78909c;
  --blue-grey-500: #607d8b;
  --blue-grey-600: #546e7a;
  --blue-grey-700: #455a64;
  --blue-grey-800: #37474f;
  --blue-grey-900: #263238;

  /* themes */
  --background: var(--grey-50);

  /* disbaled */
  --muted: #27272a;
  --muted-foreground: var(--grey-300);

  --popover: #09090b;
  --popover-foreground: #004a98;

  --card: #09090b;
  --card-foreground: #004a98;

  /* border */
  --border-100: var(--blue-grey-100);
  --border-200: var(--blue-grey-200);
  --border-300: var(--blue-grey-300);
  --border-400: var(--blue-grey-400);
  --border-500: var(--blue-grey-500);
  --border-600: var(--blue-grey-600);
  --border-700: var(--blue-grey-700);
  --border-800: var(--blue-grey-800);
  --border-900: var(--blue-grey-900);

  --outline-color-100: var(--blue-grey-100);
  --outline-color-200: var(--blue-grey-200);
  --outline-color-300: var(--blue-grey-300);
  --outline-color-400: var(--blue-grey-400);
  --outline-color-500: var(--blue-grey-500);
  --outline-color-600: var(--blue-grey-600);
  --outline-color-700: var(--blue-grey-700);
  --outline-color-800: var(--blue-grey-800);
  --outline-color-900: var(--blue-grey-900);

  /* background color */
  --primary-background: #fafafa;
  --primary-foreground: #18181b;

  --secondary-background: #27272a;
  --secondary-foreground: #fafafa;

  /* button color */
  --primary-bg-btn: #18181b;
  --primary-color-btn: var(--grey-50);

  --second-bg-btn: var(--grey-50);
  --second-color-btn: #18181b;

  --main-bg-btn: var(--blue-grey-500);
  --main-color-btn: var(--grey-50);

  /* radius */
  --radius: 0.5rem;

  /* text */
  --text-primary: var(--primary-background);
  --text-secondary: var(--secondary-background);

  /* width */
  --w: 1rem;
  --w-1-5: 1.5rem;
  --w-2: 2rem;
  --w-3: 3rem;
  --w-4: 4rem;
  --w-6: 6rem;
  --w-12: 12rem;
  --w-16: 16rem;
  --w-20: 20rem;
  --w-24: 24rem;
  --w-36: 36rem;
  --w-48: 48rem;
  --w-auto: auto;

  /* height */
  --h: 1rem;
  --h-2: 2rem;
  --h-3: 3rem;
  --h-4: 4rem;
  --h-6: 6rem;
  --h-12: 12rem;
}

.main-bg-color {
  background-color: var(--background);
}

/* themes */
.primary {
  background-color: var(--primary-background);
  color: var(--primary-foreground);
}

.secondary {
  background-color: var(--secondary);
  color: var(--secondary-foreground);
}

/*button*/
.btn {
  border-radius: var(--radius);
  text-align: center;
  min-width: var(--w-4);
  min-height: var(--h-2);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.main-btn {
  background-color: var(--main-bg-btn);
  color: var(--main-color-btn);
}

.btn:hover {
  background-color: var(--muted-foreground);
  transition: 0.2s;
}

/* input */
.input {
  border-radius: var(--radius);
  text-align: center;
  min-width: var(--w-6);
  min-height: var(--h-2);
  margin: 0px;
  padding: 0px;
  border: 1px solid var(--border-200);
  /* outline: none; */
}

/* textarea */
.textarea {
  padding: 0.5rem;
  border: 1px solid var(--border-200);
  border-radius: var(--radius);
  resize: vertical; /* Allow vertical resizing */
}

.textarea:focus {
  outline: none;
}

.d-flex {
  display: flex;
}

.flex-direction-row {
  flex-direction: row;
}
.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

.flex-direction-col-reverse {
  flex-direction: column-reverse;
}

.flex-container {
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

/* width */
.w-1 {
  width: var(--w);
}
.w-2 {
  width: var(--w-2);
}
.w-3 {
  width: var(--w-3);
}
.w-4 {
  width: var(--w-4);
}
.w-6 {
  width: var(--w-6);
}
.w-12 {
  width: var(--w-12);
}
.w-16 {
  width: var(--w-16);
}
.w-20 {
  width: var(--w-20);
}
.w-24 {
  width: var(--w-24);
}
.w-36 {
  width: var(--w-36);
}
.w-48 {
  width: var(--w-48);
}
.w-auto {
  width: var(--w-auto);
}
/* height */
.h-1 {
  height: var(--h);
}
.h-2 {
  height: var(--h-2);
}
.h-3 {
  height: var(--h-3);
}
.h-4 {
  height: var(--h-4);
}
.h-6 {
  height: var(--h-6);
}
.h-12 {
  height: var(--h-12);
}
